p {
  font-family: arial;
  font-weight: bold;
  color: black;
  background-color: white;
  border: 3px black;
}

#creativity {
  background-color: navy;
  color: white;
  text-align: center;
  text-weight: bold;
  margin: 10px;
  padding: 15px;
  font: sans-serif;
  border-radius: 10px;
  background-image: url('http://bibledaily.files.wordpress.com/2011/04/junge.jpg');
}

.slothness {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  border: 3px solid #73AD21 img-align: center;
  border-radius: 90px;
  background-color: grey;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Bradypus.jpg/220px-Bradypus.jpg');
  background-size: 100%;
  border: 3px solid black;
  background-color: navy;
}
#box {
    background-color: grey;
  color: white;
  text-align: center;
  text-weight: bold;
  margin: 10px;
  padding: 15px;
  font: sans-serif;
  border-radius: 7px;
}

#quote {
  color: black;
}
